@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

*::after,
*::before {
  box-sizing: border-box;
}

$dark: #121212;
$light: #ffffff;
$color-primary: #ff4946;
$color-secondary: #4d39ff;
$color-link: CornflowerBlue;
$color-link--visited: SlateBlue;
$text-muted: #8f8f8f;
$transition-duration: 0s;

$box-shadow-spread: 6px 6px 20px;

html {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  scroll-behavior: smooth;
}

body {
  background: $light;
  color: $dark;
  transition: background $transition-duration, color $transition-duration;
  @include dark-mode {
    background: $dark;
    color: $light;
  }
}

a {
  color: $color-link;
  &:visited {
    color: $color-link--visited;
  }
}

// Utilitaires

.pixelated {
  image-rendering: pixelated;
}

.font-sized {
  height: 1em;
}

// Composants

.main {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.footer {
  margin: auto;
  max-width: 80ch;
  margin-top: 3rem;
}

.btn {
  border-radius: 3px;
  padding: 0.2rem 0.4rem;
  background-color: $light;
  color: $dark;
  border: 1px solid transparent;

  &:hover {
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.2);

    @media (prefers-color-scheme: light) {
      & {
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &:focus {
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.4);

    @media (prefers-color-scheme: light) {
      & {
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
      }
    }
  }

  @media (prefers-color-scheme: light) {
    & {
      background-color: $dark;
      color: $light;
    }
  }
  transition: all 0.2s;
}

.navigation {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__link {
    margin: 5px;
    text-decoration: none;

    &--active {
      font-weight: bold;
    }

    &--brand {
      // font-size: 2rem;
      &::after {
        content: "|";
        margin-left: 10px;
      }
    }
  }

  &__logo {
    position: relative;
    top: 1px;
    left: 2px;
  }
}

.projet {
  display: flex;
  align-items: center;
  justify-content: center;

  &__image-box {
    align-self: flex-start;
    margin-top: 1em;
    padding: 1em;
    flex: 0 4 auto;
  }

  &__image {
    max-width: 100%;
  }

  &__text {
    flex: 1 1 90%;
  }
}

.text-muted {
  color: $text-muted;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__image {
    flex: 0 1 auto;
    max-width: 100%;
  }
}

/* go-top */

.go-top {
  transform: translateY(+60px);
  transition: transform 0.2s ease-in-out;
  font-size: 2rem;
  text-decoration: none;

  &.show {
    transform: translateY(0);
  }

  &__container {
    display: flex;
    justify-content: end;
    max-width: 180ch;
    margin: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin-bottom: 0.5rem;
  }
}

.compteur {
  max-height: 20px;
}

.card {
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  box-shadow: $box-shadow-spread transparentize(darken($dark, 30), 0.9);
  background: linear-gradient(
    to left top,
    transparentize($dark, 1) transparentize($dark, 0.95)
  );

  @include dark-mode {
    box-shadow: $box-shadow-spread transparentize(darken($light, 10), 0.98);
    background: linear-gradient(
      to left top,
      transparentize($light, 0.95),
      transparentize($light, 0.98)
    );
  }
}

.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

d-inline {
  display: inline;
}

.text-center {
  text-align: center !important;
}
.justify-content-center {
  justify-content: center !important;
}
.d-flex {
  display: flex !important;
}

img,
svg {
  vertical-align: middle;
}

.header {
  margin: 0px 5px;
  margin-bottom: .5rem;
  text-align: center;
  background-color: #ff4946;
  padding: .5rem .1rem;
  box-shadow: $box-shadow-spread transparentize(darken($light, 10), 0.98);
  color: white;
}

.header p {
  margin: 0;
}
