<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head" .}}

  <body class="lightswitch-dark">
    {{ partial "header" }}
    {{ partial "nav" .}}
    {{ block "main" . }}{{ end }} {{ partial "footer" . }}
    {{ partial "gotop" . }}

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script> -->

    {{/*  <script src="{{ .Site.BaseURL }}js/lightswitch.js"></script>  */}}
    <script src="/js/gotop.js"></script>
    <script src="/js/copyip.js"></script>
  </body>
</html>
