{{ define "main" }}

<main class="main">
  <h1 class="">{{ .Title }}</h1>
  <div class="markdown">{{ .Content }}</div>
  <ul>
    {{ range sort .Pages "Title" "asc" }}
    <li class="my-2">
      <a href="{{ .Permalink }}"><span>{{ .Title }}</span></a>
    </li>
    {{ end }}
  </ul>
</main>

{{ end }}
