<header class="header">
    <p>Mon serveur <img class="font-sized" src="{{ .Site.BaseURL }}/img/minecraft-logo.svg" alt="Minecraft Logo"> : <button data-ip="mc.sacha.house:25565" id="copy-ip"><u><b id="ip">mc.sacha.house</b></u></button> (cliquer pour copier)</p>
</header>
