<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{ block "title" . }}{{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} - {{ .Site.Title }} {{ end }}{{ end }}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="referrer" content="no-referrer" />
  <meta name="description" content="{{ .Description | default .Site.Params.description }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.meta_img | default .Site.Params.logofile }}" />
  <meta property="og:description" content="{{ .Description | default .Site.Params.description }}" />
  {{ hugo.Generator }}

  <link rel="canonical" href="{{ .Permalink }}" />

  {{/*  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous"
  />  */}}

  {{ $options := (dict "targetPath" "css/site.css" "outputStyle" "compressed" "enableSourceMap" true) }} {{ $styles := resources.Get "scss/site.scss" | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen" />

  <link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico" />

  {{ if .Site.RSSLink }}
  <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
</head>
